<!-- templates/shop/index.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to Electronics Shop</h1>
  <p>Browse our selection of electronics:</p>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
