<!-- templates/shop/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
  <h1>Welcome to Electronics Shop</h1>
  
  <div class="products">
    {% for product in products %}
    <div class="product">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" height="200">
        <h3>{{ product.name }}</h3>
        <p>${{ product.price }}</p>
        <button class="add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
        <script>
            function addToCart(productId) {
                fetch(`/add_to_cart/${productId}/`)
                    .then(response => response.json())
                    .then(data => alert(data.message))
                    .catch(error => console.error('Error:', error));
            }
            </script>
    </div>
    {% endfor %}
</div>
{% endblock %}
