<!-- templates/shop/product_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>{{ product.name }}</h1>
  <img src="{{ product.image.url }}" alt="{{ product.name }}">
  <p>{{ product.description }}</p>
  <p>Price: ${{ product.price }}</p>
  <a href="{% url 'download_image' product.id %}">Download Image</a>
  <!-- Add to cart form -->
  <form action="{% url 'add_to_cart' product.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
  </form>
  
  <a href="{% url 'index' %}">Back to products</a>
{% endblock %}
